<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="autoplay" content="true" />
    <meta name="starttime" content="5s" />
    <title>রঙ্গতান</title>
    <link rel="stylesheet" href="styles/globals.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <link
      rel="stylesheet"
      href="https://atugatran.github.io/FontAwesome6Pro/css/all.min.css"
    />

    <meta name="title" content="রঙ্গতান ১৪৩২- Rongotaan" />
    <meta
      name="description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rongotaan.onrender.com/" />
    <meta property="og:title" content="রঙ্গতান ১৪৩২- Rongotaan" />
    <meta
      property="og:description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="og:image" content="/assets/meta.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://rongotaan.onrender.com/" />
    <meta property="twitter:title" content="রঙ্গতান ১৪৩২- Rongotaan" />
    <meta
      property="twitter:description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="twitter:image" content="/assets/meta.png" />
  </head>
  <body>
    <div class="hero">
      <div class="logo-container">
        <a href="/"><img src="/assets/rongotaan.png" alt="রঙ্গতান" /></a>
      </div>

      <div class="hero-text">
        <h1><b>রঙ্গতান ১৪৩২— রঙের উচ্ছ্বাস, ঐতিহ্যের সুর!</b></h1>

        <p>
          Rooted in the essence of রঙ (color) & তান (melody), Rongotaan is not
          just an event—it’s a celebration of our heritage, our festivity, and
          the spirit that unites us. From the beats of the ঢোল to the swirls of
          আলপনা, from the rhythm of traditions to the dance of colors, this Nobo
          Barsho, let’s rejoice in the beauty of who we are!
        </p>

        <p>
          Join us as we embrace the soul of Bengal, wrapped in colours, culture,
          and celebration!
        </p>

        <div class="details">
          <p><b>Location:</b> পার্বত্য চট্টগ্রাম কমপ্লেক্স, Minto Road</p>
          <p><b>Date:</b> 15th - 16th April, 2025</p>
          <p><b>Time:</b> 10:00AM - 9:00PM</p>
        </div>
      </div>
    </div>

    <section>
      <div class="video-container">
        <video src="/assets/teaser.mp4" id="teaser" controls autoplay muted loop></video>
        <h1 class="video-overlay"><i class="fa-solid fa-volume-slash"></i></h1>
      </div>
    </section>

    <main>
      <h2>Registration is Now Open!</h2>
      <p>
        Immerse yourself in the spirit of Bengal, a tapestry of colors, culture,
        and festive joy.
      </p>

      <a href="/register"
        ><button><b>টিকিট কিনুন</b></button></a
      >
    </main>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1598421220583!2d90.40183967511487!3d23.741678778676313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b88d748940fb%3A0xc2657187f3f284ae!2z4Kaq4Ka-4Kaw4KeN4Kas4Kak4KeN4KavIOCmmuCmn-CnjeCmn-Cml-CnjeCmsOCmvuCmriDgppXgpq7gpqrgp43gprLgp4fgppXgp43gprg!5e0!3m2!1sbn!2sbd!4v1741630092277!5m2!1sbn!2sbd"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <div class="contact">
      <h2>যোগাযোগ করুন</h2>

      <div class="contacts">
        <a href="tel:+8801780132757"><i class="fa-regular fa-phone"></i></a>
        <a href="mailto:rongotaan@gmail.com"
          ><i class="fa-regular fa-envelopes"></i
        ></a>
        <a href="https://www.instagram.com/rongotaan.dhk/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>

    <div class="copyright">
      <p>
        Developed by
        <a href="https://nehanyaser.vercel.app/" target="_blank">Nehan Yaser</a>
      </p>
    </div>

    <script src="/scripts/index.js"></script>
  </body>
</html>
