<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>টিকিট বিক্রি শেষ - রঙ্গতান</title>
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/register.css" />
    <meta name="title" content="রঙ্গতান ১৪৩২- Rongotaan" />
    <meta
      name="description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rongotaan.onrender.com/" />
    <meta
      property="og:description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="og:image" content="/assets/meta.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://rongotaan.onrender.com/" />
    <meta
      property="twitter:description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="twitter:image" content="/assets/meta.png" />
  </head>
  <body>
    <style>
      .hero-form h1 {
        text-align: center;
      }

      .hero-form p {
        max-width: 550px;
        font-size: 22px;
      }

      .hero-form a {
        font-size: 22px;
      }

      .hero {
        min-height: 100vh;
      }

      .hero-form {
        flex-grow: 1;
      }

      .hero-form a:hover {
        text-decoration: underline;
      }
    </style>
    <main class="hero">
      <div class="hero-image">
        <a href="/"><img src="/assets/rongotaan.png" alt="রঙ্গতান" /></a>
      </div>
      <div class="hero-form">
        <h1>দুঃখিত, অনলাইন টিকিট বিক্রি শেষ</h1>

        <p>
          Missed the online ticket sales? Don't worry! On-spot registration will
          be available at the event. Thank you.
        </p>

        <a href="/">Return home.</a>
      </div>
    </main>

    <div class="copyright">
      <p>
        Developed by
        <a href="https://nehanyaser.vercel.app/" target="_blank">Nehan Yaser</a>
      </p>
    </div>
  </body>
</html>
