<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>নিবন্ধন করুন - রঙ্গতান</title>
    <link rel="stylesheet" href="styles/globals.css" />
    <link rel="stylesheet" href="styles/register.css" />
    <meta name="title" content="রঙ্গতান ১৪৩২- Rongotaan" />
    <meta
      name="description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rongotaan.onrender.com/" />
    <meta property="og:title" content="রঙ্গতান ১৪৩২- Rongotaan" />
    <meta
      property="og:description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="og:image" content="/assets/meta.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://rongotaan.onrender.com/" />
    <meta property="twitter:title" content="রঙ্গতান ১৪৩২- Rongotaan" />
    <meta
      property="twitter:description"
      content="Rongotaan celebrates cultural heritage and unity through vibrant colors and traditional melodies. It's a Nobo Barsho event filled with festive spirit, from traditional beats to colorful art."
    />
    <meta property="twitter:image" content="/assets/meta.png" />
  </head>
  <body>
    <main class="hero">
      <div class="hero-image">
        <a href="/"><img src="/assets/rongotaan.png" alt="রঙ্গতান" /></a>
      </div>
      <div class="hero-form">
        <h1>নিবন্ধন করুন</h1>

        <form action="/api/register" method="post">
          <div>
            <label for="name"><b>Your Name</b></label>
            <input type="text" placeholder="..." name="name" required />
          </div>

          <div>
            <label for="email"><b>Your Email Address</b></label>
            <input type="email" placeholder="..." name="email" required />
          </div>

          <div>
            <label for="contact"><b>Your Contact Number</b></label>
            <input type="number" placeholder="..." name="contact" required />
          </div>

          <div>
            <label for="day"><b>Select Day</b></label>

            <select name="day" id="daySelect">
              <option value="15th April, 2025">15th April, 2025</option>
              <option value="16th April, 2025">16th April, 2025</option>
              <option value="15th & 16th April, 2025">
                15th & 16th April, 2025
              </option>
            </select>
          </div>

          <p>
            Registration Fee: <b>২৪০৳/day</b>. Pay via <b>bKash</b> (Send Money)
            to <b>01949974075</b>.
          </p>

          <div>
            <label for="transactionID"><b>Bkash Transaction ID</b></label>
            <input
              type="text"
              placeholder="..."
              name="transactionID"
              required
            />
          </div>

          <p id="receivable">Receivable Amount: <b>240 Taka</b></p>

          <button type="submit"><b>Register</b></button>
        </form>
      </div>
    </main>

    <div class="copyright">
      <p>
        Developed by
        <a href="https://nehanyaser.vercel.app/" target="_blank">Nehan Yaser</a>
      </p>
    </div>

    <script>
      const daySelect = document.getElementById("daySelect");
      const receivableAmount = document.getElementById("receivable");

      daySelect.addEventListener("change", function () {
        if (this.value === "15th & 16th April, 2025") {
          receivableAmount.innerHTML = "Receivable Amount: <b>480 Taka</b>";
        } else {
          receivableAmount.innerHTML = "Receivable Amount: <b>240 Taka</b>";
        }
      });
    </script>
  </body>
</html>
